Source: openpanel-mod-amavis
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: openpanel-mod-amavis
Architecture: any
Depends: , openpanel-core (>= 0.8.3), openpanel-mod-postfixcourier (>= 0.8.3), amavisd-new, spamassassin, clamav, sqlite3, clamav-data, clamav-daemon, libdbd-sqlite3-perl
Description: Openpanel module to manage amavis
 This module can add mail/virusscan capabilities to email domains.
